* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 98, 255);
}

#Logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Accedi {
    margin-left: 20rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background-color: rgb(0, 98, 255);
}

nav {
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* Da rivedere non mi convince come sistema */
#jumbo {
    display: flex;
    justify-content: center;
    height: 600px;
}

.Mainstart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Item1 {
    background-color: white;
    display: flex;
    align-items: center;
}

.Item2 {
    background-color: rgb(187, 187, 187);
    display: flex;
    align-items: center;
}

.Item3 {
    background-color: white;
    display: flex;
    align-items: center;
}

.Item4 {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    background-color: rgb(187, 187, 187);
}

.Itemend {
    background-color:rgb(187, 187, 187) ;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    
}

.navfooter {
}